<h1>Listing hours_registrations</h1>

<table>
  <thead>
    <tr>
      <th>Colaborator</th>
      <th>Date</th>
      <th>Entrance1</th>
      <th>Exit1</th>
      <th>Entrance2</th>
      <th>Exit2</th>
      <th>Entrance3</th>
      <th>Exit3</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hours_registrations.each do |hours_registration| %>
      <tr>
        <td><%= hours_registration.colaborator.name %></td>
        <td><%= hours_registration.date %></td>
        <td><%= hours_registration.entrance1 %></td>
        <td><%= hours_registration.exit1 %></td>
        <td><%= hours_registration.entrance2 %></td>
        <td><%= hours_registration.exit2 %></td>
        <td><%= hours_registration.entrance3 %></td>
        <td><%= hours_registration.exit3 %></td>
        <td><%= link_to 'Show', hours_registration %></td>
        <td><%= link_to 'Edit', edit_hours_registration_path(hours_registration) %></td>
        <td><%= link_to 'Destroy', hours_registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hours registration', new_hours_registration_path %>
