<table>
 <% if @hours_registrations.size > 0 %>
  <thead>
      <tr>
        <th>Colaborator</th>
        <th>Date</th>
        <th>Entr1</th>
        <th>Exit1</th>
        <th>Entr2</th>
        <th>Exit2</th>
        <th>Entr3</th>
        <th>Exit3</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    
      <% @hours_registrations.each do |hours_registration| %>
        <tr>
          <td width=150><%= hours_registration.colaborator.name %></td>
          <td width=100><%= hours_registration.date %></td>
          <td width=75><%= hours_registration.entrance1 %></td>
          <td width=75><%= hours_registration.exit1 %></td>
          <td width=75><%= hours_registration.entrance2 %></td>
          <td width=75><%= hours_registration.exit2 %></td>
          <td width=75><%= hours_registration.entrance3 %></td>
          <td width=75><%= hours_registration.exit3 %></td>
            <% if can? :update, hours_registration.colaborator.manager_id => current_user_app.colaborator.id %>
              <td>
                <%= link_to 'Approved', controller: "hours_registrations", action: "approve", id: hours_registration.id%>
              </td>
            <% else %>
              <td><%= link_to 'Edit', edit_hours_registration_path(hours_registration) %></td>
              <td><%= link_to 'Destroy', hours_registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
          <% @colaborator_id = hours_registration.colaborator.id %>
      <% end %>
  </tbody>
  <%else%>
      <tr>
        <td><b>Não existem horas registradas para esse Colaborador</b></td>
      </tr>
    <%end%>
</table>

<br>
<%= link_to 'List colaborator hours registrations', controller: "hours_registrations", action: "list_hours_registration", id: @colaborator_id %>

