<h1>Listing hours_registrations</h1>

<table>
  <thead>
    <tr>
      <th>Colaborator</th>
      <th>Date</th>
      <th>Entr1</th>
      <th>Exit1</th>
      <th>Entr2</th>
      <th>Exit2</th>
      <th>Entr3</th>
      <th>Exit3</th>
      <th>Approved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hours_registrations.each do |hours_registration| %>
      <% if hours_registration.colaborator.manager_id == current_user_app.colaborator.id or 
        hours_registration.colaborator.id == current_user_app.colaborator.id%>
        <tr>
          <td width=150><%= hours_registration.colaborator.name %></td>
          <td width=100><%= hours_registration.date %></td>
          <td width=75><%= hours_registration.entrance1 %></td>
          <td width=75><%= hours_registration.exit1 %></td>
          <td width=75><%= hours_registration.entrance2 %></td>
          <td width=75><%= hours_registration.exit2 %></td>
          <td width=75><%= hours_registration.entrance3 %></td>
          <td width=75><%= hours_registration.exit3 %></td>
          <% if hours_registration.approved == 0 %>
          <td width=75>Undefined</td>
          <% elsif hours_registration.approved == 1 %>
          <td width=75>Yes</td>
          <% elsif hours_registration.approved == 2 %>
          <td width=75>No</td>
          <% end %>
          <td><%= link_to 'Show', hours_registration %></td>
          <td><%= link_to 'Edit', edit_hours_registration_path(hours_registration) %></td>
          <td><%= link_to 'Destroy', hours_registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
