<%= form_for(@colaborator) do |f| %>
  <% if @colaborator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@colaborator.errors.count, "error") %> prohibited this colaborator from being saved:</h2>

      <ul>
      <% @colaborator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :registration %><br>
    <%= f.text_field :registration %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  
  
  <div id="manager_div" class="field">
    <%= f.label :manager_id %><br>
    <%= f.collection_select :manager_id,  Colaborator.where("manager_id IS NULL"), :id, :name, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :user_app_id %><br>
    <%= f.collection_select :user_app_id,  UserApp.all, :id, :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  var checkbox = document.getElementById('example');
  var details_div = document.getElementById('manager_div');
  checkbox.onchange = function() {
     if(this.checked) {
       details_div.style['display'] = 'block';
     } else {
       details_div.style['display'] = 'none';
     }
  };
</script>
