<h1>Listing colaborators</h1>

<table>
  <thead>
    <tr>
      <th>Registration</th>
      <th>Name</th>
      <th>Email</th>
      <th>Manager</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @colaborators.each do |colaborator| %>
      <tr>
        <td><%= colaborator.registration %></td>
        <td><%= colaborator.name %></td>
        <td><%= colaborator.email %></td>
        <td>
          <% if colaborator.manager != nil%>
            <%=  colaborator.manager.name %>
          <%end%>
        </td>
        <td><%= link_to 'Show', colaborator %></td>
        <td><%= link_to 'Edit', edit_colaborator_path(colaborator) %></td>
        <td><%= link_to 'Destroy', colaborator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Colaborator', new_colaborator_path %>
