
<h1>Listing colaborators</h1>

<table align="center">
  <thead>
    <tr>
      <th>Registration</th>
      <th>Name</th>
      <th>Email</th>
      <th>Manager</th>
      <th>User</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @colaborators.each do |colaborator| %>
      <tr>
        <td width=100 align="center"><%= colaborator.registration %></td>
        <td width=150 align="center"><%= colaborator.name %></td>
        <td width=200 align="center"><%= colaborator.email %></td>
        <td width=150 align="center">
          <% if colaborator.manager != nil%>
            <%=  colaborator.manager.name %>
          <%end%>
        </td>  
        <td><%= link_to 'Show', colaborator %></td>
        
          <% if can? :update, :colaborator %>
            <td><%= link_to 'Edit', edit_colaborator_path(colaborator) %></td>
          <% end %>
        <td><%= link_to 'Destroy', colaborator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div style="margin-left:130px"><%= link_to 'New Colaborator', new_colaborator_path %></div>
