<p id="notice"><%= notice %></p>

<p>
  <strong>Registration:</strong>
  <%= @colaborator.registration %>
</p>

<p>
  <strong>Name:</strong>
  <%= @colaborator.name %>
</p>

<% if @colaborator.manager != nil %>
	<p>
	  <strong>Manager:</strong>
	  <%= @colaborator.manager.name %>
	</p>
<%end%>

<%if @colaborator.user_app != nil %>
  <p>
    <strong>User:</strong>
    <%= @colaborator.user_app.email %>
  </p>
<% end %>

<%= link_to 'Edit', edit_colaborator_path(@colaborator) %> |
<%= link_to 'Back', colaborators_path %>
