<p id="notice"><%= notice %></p>

<p>
  <strong>Registration:</strong>
  <%= @manager.registration %>
</p>

<p>
  <strong>Name:</strong>
  <%= @manager.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @manager.email %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>

